*{
	padding: 0;
	margin: 0;
}

.head{
	border: 2pc solid red;
	color: black;
	font-size: 50px;
	padding: 20px;
	font-family: cursive;
	font-weight: bold;
}

.student{
	font-size: 30px;
	margin-left: 30px;
	text-decoration: none;
	cursor: pointer;
}

.school , .busi{
	padding: 20px;
}

